
*{
    background-color: rgb(147, 170, 196);
}
ul{
    text-decoration: none;
    list-style: none;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;

    padding: 10px;
}

input[type= "checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 70px;
    height: 70px;
    margin: 15px;

    border-radius: 15px;
    border: 1px solid grey;
    background-color: rgba(47, 62, 204, 0.5);
}
/* input[type="checkbox"]:checked{
    background-color: rgba(47, 204, 99, 0.5);        
} */
